.hp-page {
    width: 100vw;
    position: absolute;
    min-height: 100vh;
}

.hp-hero {
    display: none;
}

.hp-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}

.hp-avatar-wrapper, .hp-avatar {
    width: 150px; height: 150px;
    /* border-radius: 50%; */
}

.hp-avatar-wrapper {
    overflow: hidden;
    width: 150px; height: 150px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgb(0, 0, 0);
    margin-bottom: 10px;
}

.hp-avatar {
    width: 200%; height: 200%;
    object-fit: cover;
    object-position: -55px 90%;
}

.hp-identity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hp-identity-item {
    font-size: 22px;
    color: rgb(219, 219, 219);
    text-align: center;
    margin-right: 2px;
    width: 100%;
}

.hp-tagline {
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
    color: white;
}

.hp-link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.hp-link-btn {
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.hp-link-btn:hover {
    background-color: rgb(240, 240, 240);
    color: black;
}

.hp-link-btn-text {
    margin-left: 12px;
}


/* Screen size specs */

@media only screen and (max-width: 576px) {
}


@media only screen and (min-width: 576px) {
}


@media only screen and (min-width: 767px) {
    .hp-hero {
        object-position: 50% 0%;
        display: block;
    }

    .hp-content {
        width: 600px;
        margin-top: 0px;
        position: relative;
        top: -75px;
    }
}


@media only screen and (min-width: 992px) {
    .hp-hero {
        object-position: 50% 10%;
    }
}


@media only screen and (min-width: 1200px) {
}
